
@{
    ViewBag.Title = "Subcomite";
}

<h2 class="display-4">Calendario de Subcomités</h2>
<div class="container">
    <a href="@Url.Action("CalendarioSesiones13","Sesiones")">
        <img src="~/Content/Files/Subcomites/calendario_2013.jpg" alt="Alternate Text" />
    </a>
    <a href="@Url.Action("CalendarioSesiones14","Sesiones")">
        <img src="~/Content/Files/Subcomites/calendario_2014.jpg" alt="Alternate Text" />
    </a>
    <a href="@Url.Action("CalendarioSesiones15","Sesiones")">
        <img src="~/Content/Files/Subcomites/calendario_2015.jpg" alt="Alternate Text" />
    </a>
    <a href="@Url.Action("CalendarioSesiones16","Sesiones")">
        <img src="~/Content/Files/Subcomites/calendario_2016.jpg" alt="Alternate Text" />
    </a>
    <a href="@Url.Action("CalendarioSesiones17","Sesiones")">
        <img src="~/Content/Files/Subcomites/calendario_2017.jpg" alt="Alternate Text" />
    </a>
</div>

