
@{
    ViewBag.Title = "ActasComite";
}    
<h2 class="display-4">Actas de Comité</h2>
<div class="btn-group-lg">
    <a href="@Url.Action("ActasComite2014","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2014.jpg" alt="Alternate Text" style="width:15%" />
    </a>
    <a href="@Url.Action("ActasComite2015","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2015.jpg" alt="Alternate Text" style="width:15%" />
    </a>
    <a href="@Url.Action("ActasComite2016","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2016.jpg" alt="Alternate Text" style="width:15%" />
    </a>
    <a href="@Url.Action("ActasComite2017","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2017.jpg" alt="Alternate Text" style="width:15%" />
    </a>
    <a href="@Url.Action("ActasComite2018","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2018.jpg" alt="Alternate Text" style="width:15%" />
    </a>
    <a href="@Url.Action("ActasComite2019","Planeacion")">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2019.jpg" alt="Alternate Text" style="width:15%" />
    </a>
</div>
